# Ignore OS and application specific crap
.DS_Store
_notes
dwsync.xml
thumbs.db
bolt/_notes/dwsync.xml
bolt/css/_notes/dwsync.xml
bolt/fancybox/_notes/dwsync.xml
bolt/fancybox/demo/_notes/dwsync.xml
bolt/fancybox/lib/_notes/dwsync.xml
bolt/fancybox/source/_notes/dwsync.xml
bolt/fancybox/source/helpers/_notes/dwsync.xml
bolt/img/_notes/dwsync.xml
bolt/includes/_notes/dwsync.xml
